header.nav {
    width: 100vw;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

header.nav .logo {
    padding-left: 30px;
}

header.nav .logo img {
    display: block;
    height: 80px;
}

header.nav .item2 ul {
    display: flex;
    justify-content: flex-end;
}

header.nav .item2 ul li {
    margin: 0 10px;
}

header.nav .item2 ul li a {
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 20px;
    color: black;
    font-size: 18px;
}

header.nav .item2 ul li a.white {
    color: white;
}

header.nav .item3 {
    margin-right: 60px;
}

header.nav .item3 a {
    display: block;
    background-color: #de7154;
    padding: 13px 20px;
    border-radius: 3px;
    color: white;
}

header.nav .item3 a:hover {
    background-color: #dd5e3b;
}

.relative {
    position: relative;
}

header.nav .user .head-portrait {
    height: 36px;
    width: 36px;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #00aaff;
    cursor: pointer;
    overflow: hidden;
}

header.nav .user:hover .personage {
    display: block;
}

header.nav .user .personage {
    display: none;
    position: absolute;
    left: -32px;
    top: 50px;
    width: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:1px 1px 3px rgba(0, 0, 0, .1);
}
header.nav .user .arrows{
    position:absolute;
    left:50px;
    width:16px;
    height:16px;
    background-color: white;
    top:-6px;
    transform: translate(-50%) rotate(45deg);
    border-radius: 3px;
    box-shadow:0px 0px 2px rgba(0, 0, 0, .1);
    z-index: -1;
}
header.nav .user .arr{
    width:100px;
    height: 18px;
    position: absolute;
    left:0;
    top:-18px;
    background-color: transparent;
}
header.nav .user .personage a {
    display: block;
    background-color: transparent;
    color: #999;
    padding: 6px 0;
    border-radius: 0;
}

header.nav .user .personage a:hover {
    color: #dd542e;
}

header.nav .item5 {
    flex-grow: 1;
}

header.nav .item4 {
    width: 60px;
    height: 60px;
    margin-right: 60px;
    text-align: center;
    position: relative;
}

header.nav .item4 i {
    color: #5c5c5c;
    font-size: 34px;
    font-weight: 600;
    line-height: 60px;
    cursor: pointer;
}

header.nav .item4:hover .select {
    display: block;
}

.item4 .select {
    display: none;
    position: absolute;
    border-radius: 6px;
    width: 120px;
    top: 60px;
    left: -30px;
    background-color: #fff;
}
header.nav .select .arrows{
    position:absolute;
    left:60px;
    width:16px;
    height:16px;
    background-color: white;
    top:-6px;
    transform: translate(-50%) rotate(45deg);
    border-radius: 3px;
}
header.nav .select .arr{
    width:100px;
    height: 18px;
    position: absolute;
    left:0;
    top:-18px;
    background-color: transparent;
}

.item4 .select li a {
    display: block;
    line-height: 28px;
    padding: 5px 10px;
    color: #555;
}

header.nav ul li a:hover {
    color: #d15431 !important;
}