.page{
    background: #eee;
    min-height: 100vh;
}
.main{
    padding-top:160px;
}
.container{
    background-color: rgba(255,255,255,.1);
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.form-box{
    position: absolute;
    top:-10%;
    left: 2.5%;
    background-color: white;
    background: linear-gradient(320deg, rgba(97,232,235,1) 0%, rgba(117,155,183,1) 100%);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition:0.5s ease-in-out; 
}
.register-box,
.login-box{
    text-align: center;
    width: 100%;
    position: relative;
    
}
.register-box>div,
.login-box>div{
    width:100%;
    padding-left:48px;
    padding-right:48px;
    position: relative;
}
.form-box .xsyc{
    position: absolute;
    right:58px;
    top:20px;
    color:rgba(255,255,255,0.6);
    
}
.register-box .item p,
.login-box .item p{
    font-size: 12px;
    position: absolute;
    top:50px;
    left:56px;
    color:#e73828;
    display: none;
}
.form-box .move{
    margin-top:14px;
    color:rgb(246, 246, 246);
    font-size: 14px;
    text-align: right;
}
.form-box .move a:hover{
    color:#999;
}
.hidden{
    display:none !important;
}
.block{
    display:block !important;
}
h1{
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:white;
    letter-spacing: 5px;
}
input{
    width:100%;
    color:white;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding:10px 0;
    text-indent: 10px;
    margin:8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
input.borderBottom{
    border-bottom: 1px solid #e73828;
}
input:focus{
    color:#ccd2cc;
    border-bottom: 1px solid #ccd2cc80;
}

input::-webkit-input-placeholder{
    color:white;
}
input::-moz-placeholder{
    color:white;
}
input:-ms-input-placeholder{
    color:white;
}
input::-ms-input-placeholder{
    color:white;
}
input::placeholder{
    color:rgba(255,255,255,.4);
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
}
input:focus::-moz-placeholder{
    opacity: 0;
}
input:focus:-ms-input-placeholder{
    opacity: 0;
}
input:focus::-ms-input-placeholder{
    opacity: 0;
}
input:focus::placeholder{
    opacity: 0;
}
.form-box button{
    width: 70%;
    margin-top:10%;
    background-color: #f6f6f6;
    padding: 13px;
    outline: none;
    border-radius: 8px;
    color:#a3a3a3;
    letter-spacing: 2px;
    cursor: pointer;
}
.form-box button:hover{
    background-color:#ccd2cc;
    color:#ffffff;
}


/* 背景图片 */
.con-box{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.con-box.left{
    left:-2%;
}
.con-box.right{
    right:-2%;
}

.con-box .jy1{
    width:354px;
    transform: rotate(-53deg) translate(10px,22px);
}
.con-box .coml{
    position:absolute;
    width:100px;
    left:35px;
    top:-70px;
}
.con-box .jy2{
    width:261px;
    margin-top:74px;
}
.con-box .bhhy{
    width:276px;
    position:absolute;
    top:16px;
    left:15px;
}