.seabed {
    margin-top: 2000px;
    position: relative;
    height: 1000px;
    background: rgb(3, 29, 52);
    background: linear-gradient(180deg, rgba(3, 29, 52, 1) 24%, rgba(38, 51, 103, 1) 98%);
}

.seabed .seabed-img {
    display: block;
    transform: translateY(-100%);
}

.seabed::before {
    content: "";
    display: block;
    height: 6px;
    background-color: #031d34;
    position: absolute;
    width: 100%;
    top: -3px;
    left: 0;
}

.block {
    display: flex;
}

.catch {
    margin-top: -1900px;
    z-index: 6;
    position: relative;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.catch .catch-icon {
    width: 500px;
    padding-top: 50px;
    margin-right: 50px;
    position: relative;
    -webkit-animation: 1s linear 1 forwards showDown;
    animation: 1s linear 1 forwards showDown;
}

.catch .catch-icon .icon-data {
    width: 100%;
    display: flex;
}

.catch .catch-icon .icon-data > div {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    position: relative;
    font-size: 14px;
    width: 25%;
    color: white;
    padding-top: 8px;
    height: 200px;
}

.catch .catch-icon .icon-data > div::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #6695a7;
    right: 0px;
    bottom: 0;
}

.catch .catch-icon .icon-data > div h3 {
    color: #f88d79;
    font-size: 18px;
    margin-bottom: 52px;
    padding-left: 15px;
}

.catch .catch-icon .icon-data > div p {
    margin-top: 15px;
    text-align: center;
}

.catch .catch-icon .icon-data > div p strong {
    font-size: 28px;
}

.catch .catch-icon .icon-img {
    position: absolute;
    bottom: -63px;
    left: 0;
}
.catch .catch-icon .icon-img{
    transform: rotate(180deg);
}
.catch .catch-text {
    width: 460px;
    margin-left: 50px;
}


.catch .catch-text {
    width: 460px;
    margin-right: 30px;
    -webkit-animation: 1s linear 1 forwards showUp;
    animation: 1s linear 1 forwards showUp;
}

.catch .catch-text img {
    display: block;
    margin-bottom: 12px;
    margin-left: -10px;
}

.catch .catch-text p {
    font-family: 微软雅黑, 黑体;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 20px;
    color: white;
}
.catch .catch-text strong{
    color:#f88d79;
}

.catch .catch-text a {
    display: inline-block;
    background-color: #de7154;
    padding: 12px 16px;
    border-radius: 4px;
}

.catch .catch-text a:hover {
    background-color: #dd5e3b;
}

@-webkit-keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    50% {
        opacity: 1;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    50% {
        opacity: 1;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes showDown {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    50% {
        opacity: 1;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showDown {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    50% {
        opacity: 1;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.endangered {
    margin-top: 680px;
    position:relative;
    z-index: 6;
    color:white;
    background: linear-gradient(180deg, rgba(3, 29, 52, 1) 80%, rgba(38, 51, 103, 1) 98%);
    padding-bottom: 500px;
    margin-bottom: -500px;
}


.endangered .danger .danger-contains{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.endangered .danger .danger-text{ 
    margin-bottom: 600px;
    line-height: 1.8;
    background: rgba(1, 62, 84,0.9);
    border-radius: 15px;
    position: relative;
    padding: 40px;
    color: rgb(255,255,255);
}
.endangered .danger .danger-article h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.1875em;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
    color: #88e2e2;
    display: inline-block;
    text-align: center;
    width:100%;
}
.endangered .danger .danger-article>p{
    font-size: 1rem;
    line-height: 1.85rem;
    max-width: 650px;
    margin: 1.5rem auto;
}
.endangered .danger .backImg{
    position: -webkit-sticky;
    position: sticky;
    top:160px;
    padding:0 40px;
}
.endangered .danger .danger-contains .backImg h2{
    position: absolute;
    top:-20px;
    left:0px;
    text-align: center;
    font-weight: 600px;
    font-size: 24px;
    width:100%;
}
.endangered .danger .backImg .bin{
    position: absolute;
    bottom:-44px;
    left:-50px;
    height: 500px;
}