.userL{
    padding: 20px 10px;
    box-shadow:0px 0px 2px rgb(157, 157, 157);
    border-radius: 6px;
    min-width: 1048px;
    height: 618px;
}
.userL .search button{
    cursor: pointer;
}
.userL .search{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.userL .search input{
    width:285px;
    padding:0 10px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 44px;
    line-height: 44px;
}
.userL .search input:focus{
    border:1px solid #999;
}
.userL .search input::-webkit-input-placeholder{
    color:#b4b4b4;
}
.userL .search input::-moz-placeholder{
    color:#b4b4b4;
}
.userL .search input:-ms-input-placeholder{
    color:#b4b4b4;
}
.userL .search input::-ms-input-placeholder{
    color:#b4b4b4;
}
.userL .search input::placeholder{
    color:#b4b4b4;
}
.userL .search .item1{
    margin-right: 28px;
    position: relative;
}
.userL .search .item1 button{
    position:absolute;
    right:0px;
    top:1px;
    height: 42px;
    line-height: 42px;
    padding:0 5px;
}
.userL .search .item1 button i{
    font-size: 26px;
    color:#b4b4b4;
}
.userL .search .item1 button i:hover{
    color: #999;
}

.userL .search .item2 button{
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    line-height: 38px;
    font-size: 13px;
    color: #fff;
    background-color: #409eff;
    border:1px solid #409eff;
    border-radius: 4px;
}
.userL .search .item2 button:hover{
    background-color: #2385e7;
    color: white;
}

/* 表格 */
.userShow{
    margin-top:20px;
}
.userShow .userT{
    height: 445px;
}
.userShow .userTable{
    margin-left:auto;
    margin-right: auto;
    color: #909399;
    border-collapse: separate;
    font-size: 14px;
}
.userShow .userTable tr{
    height: 48px;
    line-height: 46px;
    text-align: center;
}
.userShow .userTable tr td,
.userShow .userTable tr th{
    border:1px solid rgba(221, 221, 221, 0.5);
    max-width: 250px;
}
.userShow .userTable tr td>div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:0 10px;
}
.userShow .userTable tr th>div{
    font-weight: 600;
}
.userShow .userTable .cell>span{
    font-size: 13px;
    padding:8px 12px;
    border-radius: 3px;
}
.userShow .userTable .cell .normal{
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}
.userShow .userTable .cell .prohibition{
    background-color: #fde2e2;
    border-color: #fab6b6;
    color: #f56c6c;
    
}
.userShow .userTable .cell .admin{
    background-color: #c6e2ff;
    border-color: #c6e2ff;
    color: #409eff;
}
.userShow .userTable .cell button{
    margin:0 10px;
}
.userShow .userTable .cell button i{
    cursor: pointer;
}

.userShow .mt{
    margin-left: auto;
    margin-right: auto;
    margin-top:12px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color:#909399;
}
.userShow .mt span{
    height: 36px;
    padding-top:2px;
    line-height: 34px;
}

/* 添加用户 */
.back{
    position:fixed;
    background-color: rgba(221, 221, 221, 0.5);
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: 200;
}
.addUser .form{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 40px;
    padding:60px 80px;
    border-radius: 8px;
}
.addUser .form .el-form{
    text-align: left;
}
.addUser .form .dialog-footer{
    margin-left: 200px;
}

.headImg{
    position: relative;
    width:88px;
    height: 88px;
    background-color: white;
    padding:4px;
    border-radius: 8px;
    top:-30px;
    left:20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.headImg:hover .figure{
    opacity: 1;
}
.headImg .figure{
    position:absolute;
    width: 88px;
    height: 88px;
    background-color: rgba(18, 18, 18, .2);
    top:0px;
    left:0px;
    border-radius: 6px;
    text-align: center;
    color:white;
    padding-top:14px;
    line-height: 1.25;
    transition:opacity .3s;
    cursor: pointer;
    opacity: 0;
}


.headImg .figure i{
    font-size: 26px;
}

.headImg .selectImg{
    position:absolute;
    display: none;
    width: 730px;
    height: 370px;
    left: -300px;
    top:100px;
    border-radius: 8px;
    z-index: 3;
    background-color: rgb(255,255,255);
    box-shadow:0px 0px 2px rgb(147, 147, 147);
}
.headImg .selectImg::before{
    display: block;
    content:'';
    position:absolute;
    height: 30px;
    width:730px;
    height: 30px;
    left: 0px;
    top: -20px;
    background-color: transparent;
}
.headImg .selectImg:hover{
    display: block;
}
.headImg:hover .selectImg{
    display:block;
}
.selectImg .headPortraits li{
    width:180px;
    height: 180;
    overflow: hidden;
    border-radius: 6px;
    padding-top:10px;
    padding-left:10px;
    float:left;
    cursor: pointer;
}
.selectImg .headPortraits li img{
    border-radius: 6px;
    display: block;
}
.selectImg .headPortraits li:hover img{
    transform:translate(-5px,-5px);
    box-shadow:0px 0px 4px rgb(188, 188, 188);
}



/* 用户详细信息 */
.details{
    width:800px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 2px rgb(188, 188, 188);
    position: relative;
    padding-left:210px;
    padding-top: 30px;
}

.details .headImg{
    width:168px;
    height: 168px;
    padding:4px;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(188, 188, 188);
    position:absolute;
    left:30px;
    top: 30px;
}
.details .detailsText ul li{
    padding: 15px 0;
    margin-left: 30px;
    margin-right: 45px;
    border-bottom: 1px solid #ebebeb;
    position:relative;
}
.details .detailsText .field-label {
    line-height: 36px;
    color: #444;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    left:3px;
    top: 15px;
}
.details .detailsText .field-content{
    padding: 0 64px 0 140px;
    line-height: 36px;
}
.details .shut{
    height: 38px;
    font-size: 14px;
    padding: 0 36px;
    line-height: 36px;
    font-size: 13px;
    color: #fff;
    background-color: #409eff;
    border:1px solid #409eff;
    border-radius: 4px;
    margin-left:140px;
    margin-top:15px;
    cursor: pointer;
}
.details .shut:hover{
    background-color: #2388ec;
}

/* 修改用户 */

.amend .amends{
    height: 690px;
    margin-top: 30px;
}
.details .field-content input[type='radio']{
    margin-left: 12px;
}
.details .field-content input[type='radio']:nth-of-type(2){
    margin-left: 30px;
}
.details .field-content input[type='text']{
    color: #121212;
    border:1px solid #333;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width:300px;
}
.details .field-content input::-webkit-input-placeholder{
    color:#aaa;
}
.details .field-content input::-moz-placeholder{
    color:#aaa;
}
.details .field-content input:-ms-input-placeholder{
    color:#aaa;
}
.details .field-content input::-ms-input-placeholder{
    color:#aaa;
}
.details .field-content input::placeholder{
    color:#aaa;
}
.buttonGroup{
    margin-top: 24px;
    vertical-align: top;
    margin-left: 120px;
}
.buttonGroup button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}
.buttonGroup button:nth-of-type(2){
    margin-left: 12px;
}
.buttonGroup button.sava{
    background-color: #06f;
    color:white;
}
.buttonGroup button.cancel{
    color:#8590a6;
}
.buttonGroup button.sava:hover{
    background-color:#005ce6;
}
.buttonGroup button.cancel:hover{
    background-color: rgba(133,144,166,.06);
}

.textarea{
    padding: 4px 10px;
    font-size: 14px;
    line-height: 26px;
    background: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    resize: none;
    width:300px;
}
.textarea:focus{
    background:white;
    border: 1px solid #ebebeb;
}

.amends .headImg .figure{
    width: 168px;
    height: 168px;
}


.amends .headImg .figure i{
    font-size: 64px;
}
.amends .headImg .selectImg{
    top:180px;
}